<div class="w-full flex flex-col items-center">
    <div class="flex justify-between w-full items-center">
        <div class="flex flex-col gap-4">
            <h1 class="text-5xl">Your Cart</h1>
            <% if @current_cart&.cart_items&.any? %>    <!-- & safety oprator to catch errors and return nil -->
                <p class="text-lg"> You have <%= @current_cart.cart_items.count %> items in your cart </p>     
                <br/>       
            <% else %>
                <p class="text-lg"> You don't have any itmes in your car yet. To checkout please first add items. </p>
            <% end %>
        </div>

        <% if @current_cart&.cart_items&.any? %>
            <%= link_to "Checkout Now", checkout_cart_path, class: "rounded-lg font-semi-bold p-4 text-center text-xl bg-green-400 hover:bg-green-500 text-white" %>
        <% else %>
            <%= content_tag :div, "Checkout Now", class: "rounded-lg font-semi-bold p-4 text-center text-xl bg-gray-600 text-white" %>
        <% end %>
    </div>

    <div id="products" class="min-w-full grid md:grid-cols-4 gap-6 mb-8">
        <% if @current_cart&.products&.any? %>
            <% @current_cart.products.each do |product| %>
                <div>
                    <%= render "products/product", product: product %>
                    <br/>
                    <%= link_to "Remove From Cart", cart_path(product_id: product.id), class: "p-2 rounded-lg bg-red-400/80 hover:bg-red-600", 
                        data: { turbo_method: "delete" }  %>
                </div>
            <% end %>
        <% end %>
    </div>

    <br/>

    <% if !current_user %>
        <%=link_to "Sign in to save your cart for later", new_user_session_path, class: "text-lg font-semibold hover:text-green-600 border-b-2 border-black hover:border-green-600" %>
    <% end %>
</div>
