<div class="w-full flex flex-col items-center md:pt-8">
    <div class="h-80 w-full mb-8 flex flex-col items-center gap-4 bg-no-repeat bg-cover" style="background-image: url('<%= asset_path('box.gif') %>')">
        <div class="bg-gray-800 bg-opacity-50"> 
            <h2 class="text-5xl font-semiboldb text-green-400 text-center">Purchase has been successfully completed</h2>
            <p class="text-xl font-semibold text-white text-center">All your products will be shipped within 3 business days!</p>
        </div>
    </div>
    <h1 class="text-5xl font-Jersey text-sky-700 font-bold mb-3 text-center"> <%= @purchased_cart.products.map(&:name).join(", ") %> </h1>
    <div class="mx-auto flex flex-col gap-2">    
        <% @purchased_cart.products.each.with_index do |product, index| %>
            <div class="flex gap-2 bg-orange-400/30 p-2 mt-2 rounded-lg"> 
                <span class="px-2 rounded-full bg-orange-600 text-white"> <%= index + 1 %> </span>
                <p> <%= product.name %> </p>
                <p class="text-green-600 font-semibold"> <%= number_to_currency product.price %> </p>
            </div>
        <% end %>
    </div>
</div>