<%= link_to product do %>
  <div id="<%= dom_id product %>">
    <%= image_tag product.images.first, class: "w-80 h-80 object-cover rounded-lg hover:brightness-75 transition-all duration-150" if product.images.any? %>
    <p class="text-lg text-sky-800"> <%= product.name %> </p>
    <p class="text-lg text-black-800"> <%= number_to_currency product.price %>
  </div>
<% end %>
